<app-header></app-header>

<!-- <div>
    <img appImgBroken class="imagen" src="https://avatars.githubusercontent.com/u/1sss8010?v=4" alt="">
</div> 

<div>
    <ul *ngIf="results.length > 0 else tplNotFound">
        <li *ngFor="let item of results">
            {{item}}
        </li>
    </ul> 
</div>

<ul>
    <li *ngFor="let user of listUser">
        <ng-container *ngTemplateOutlet="tplHello;context:{currentUser:user}"></ng-container>
    </li>
</ul>

 <ng-template #tplNotFound>
    <p>No hay resultados</p>
</ng-template> 

<ng-template #tplHello let-myUser="currentUser">
    Hola buenos dias {{myUser?.name}}
</ng-template> -->

<div class="task-columns">
    <app-column [name]="group.label" [data]="group.list" *ngFor="let group of groups">

    </app-column>
</div>